@font-face {
    src: url("../fonts/Lato-Regular.ttf");
    font-family: "main";
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "main", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-image: url("../images/background.png");
    background-color: rgba(0, 0, 0, 0.1);
    background-repeat: repeat-y;
    background-size: 100%;
    object-fit: cover;
    background-position: center;
    direction: ltr;
    text-align: left;
}

a {
    text-decoration: none;
    color: #000;
}

.text-icon {
    color: #BEBEBE;
}


.bg-white-rgba {
    background: rgba(255, 255, 255, 0.7);
}

.all-w {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.w-1250 {
    width: 100%;
    max-width: 1250px;
}

.cover {
    object-fit: cover;
}

.list-left {
    max-width: 270px;
    width: 270px;
    top: 60px;
    padding-top: 10px;
    overflow-x: hidden;
    height: calc(100vh - 60px);
}

.list-right {
    max-width: 270px;
    width: 270px;
    top: 60px;
    overflow-x: hidden;
    height: calc(100vh - 60px);
    padding-top: 10px;

}

.icon-search {
    top: 11px;
    font-size: 12px;
}

.mt-50 {
    margin-top: 60px;
}

.ms-n-2 {
    margin-left: -20px;
}

.main {
    width: 730px;
    margin: 0 auto;
    padding-top: 10px;
}

.main-2 {
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 89%;
}

.min-vh-95 {
    min-height: 95vh;
}

#nicescroll-cursors {
    display: none;
    opacity: 0;
}

.form-check-input:checked {
    background-color: #ED1C24 !important;
    border-color: #ED1C24 !important;
}

.form-check-input {
    height: 20px !important;
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: 0 0 !important;
}

.form-switch .form-check-input {
    width: 35px !important;
}

.red-border {
    width: 12px;
    height: 6px;
}

textarea {
    resize: none;
    overflow: auto;
}

.input-file {
    z-index: -1;
    position: absolute;
    opacity: 0;
}

.list-chat {
    max-height: 300px;
    height: 300px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.logo-overlay {
    z-index: 25;
    top: 100px;
}

.top-40 {
    top: 85px;
}

.start-40 {
    left: 45%;
}

.z-index-2 {
    z-index: 10;
}

.icon-input {
    margin: 13px 15px;
    font-size: 15px;
}

.rounded-left-top {
    border-top-left-radius: .3rem !important;
    border-bottom-left-radius: .3rem !important;
}

.download {
    background-image: url("../images/Rectangle 1492.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-muted-e {
    color: #7E7E7E;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #F8F8F8 !important;
    border-radius: 10px;
}

.drop-notification li:hover {
    background-color: #F8F8F8 !important;
}

.download p {
    font-size: 10px;
}

.margin-nigative-btn, .margin-nigative-btn-1 {
    top: 50px;
}

.d-lg-inline-block {
    display: inline-block;
}

.mt-n-30 {
    margin-top: -50px;
}

.btn-size {
    font-size: 13px !important;
}

.btn-size-2 {
    font-size: 12px !important;
}

.btn-2-8 {
    padding: 2px 8px !important;
}

.w-81 {
    width: 75%;
}

.drop-notification {
    width: 220px;
    max-height: 250px;
    overflow: auto;
}

.chat-lists {
    max-height: calc(100vh - 150px);
    overflow: auto;
}

.dropdown-menu-1 {
    height: 300px;
    overflow: hidden;
}

.left-150 {
    left: -150px !important;
}

.font-14 {
    font-size: 14px;
}

.rounded-top-3 {
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
}
.w-82{
    width: 80%;
}
@media (max-width: 990px) {
    .list-left {
        display: none;
        opacity: 0;
        -webkit-transition: display .5s ease;
        -moz-transition: display .5s ease;
        -o-transition: display .5s ease;
    }

    .list-right {
        display: none;
        opacity: 0;
        -webkit-transition: display .5s ease;
        -moz-transition: display .5s ease;
        -o-transition: display .5s ease;
    }

    .all-w {
        padding: 10px 0 !important;
    }

    .main {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }

    .main-2 {
        padding: 0 !important;
        margin: 0 !important;
        width: 100% !important;
    }

    .w-90 {
        width: 80%;
    }

    .w-80 {
        width: 66%;
    }

    .w-81 {
        width: 75% !important;
    }
    .w-82{
        width: 100%;
    }

    .w-sm-auto {
        width: auto !important;
    }

    .margin-nigative {
        display: block !important;
        opacity: 1;
        position: fixed;
        overflow: auto;
        height: 100%;
        width: 100% !important;
        top: 60px;
        z-index: 1000;
        transition: ease 2s;
        background-color: white;
        padding: 10px;
    }

    .margin-nigative-1 {
        display: block !important;
        opacity: 1;
        position: fixed;
        overflow: auto;
        height: 100%;
        width: 100% !important;
        top: 60px;
        z-index: 1000;
        right: 0;
        transition: ease 2s;
        background-color: white;
        padding: 10px;
    }

    .dropdown-menu[data-bs-popper] {
        left: auto !important;
        right: 0 !important;
    }

    .mx-sm-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .ms-sm-auto{
        margin-left: auto !important;
    }

    .rounded-left-top {
        border-radius: 0 !important;
    }

    .left-150 {
        left: 0px !important;
    }

    .mb-sm-2 {
        margin-bottom: 20px !important;
    }

    .pb-sm-1 {
        padding-bottom: 5px !important;
    }
    .m-23 {
        margin: 0 20px !important;
    }
}

.bg-dark-1 {
    background: #2E2E2E !important;
}

.border-secondary-1 {
    border-color: #464646 !important;
}

.text-white-e {
    color: #F0F0F0;
}

.text-white-1 {
    color: #F0F0F0 !important;
}

.bg-black-rgba {
    background: rgba(0, 0, 0, 0.7) !important;
    color: #F0F0F0 !important;
}

.btn:hover {
    color: #6c757d;
}

.customize-file {
    width: 80px;
    height: 80px;
}

.color-car {
    width: 40px;
    height: 40px;
}

.car-blue {
    background: #2D41B6;
}

.car-red {
    background: #A80E0E;
}

.car-black {
    background: #3A2302;
}

.car-sky {
    background: #50CCE2;
}

.car-mouse {
    background: #777977;
}

.car-orange {
    background: #DD6B17;
}

.car-move {
    background: #640EA8;
}

.car-warning {
    background: #E5CD1E;
}

.car-green {
    background: #3C972A;
}

.dote {
    width: 10px;
    height: 10px;
}

.bg-muted-e {
    background: #BEBEBE;
}

.text-danger-e:hover {
    color: #ED1C24 !important;
}

.box-sh {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}

.color-car:hover {
    transition: ease 0.5s;
    border: 2px solid #ED1C24 !important;
}

.car-active {
    transition: ease 0.5s;
    border: 2px solid #ED1C24 !important;
}

.profile-nav:hover {
    transition: ease 0.5s;
    color: #ED1C24 !important;
}

.profile-nav a:hover {
    transition: ease 0.5s;
    color: #ED1C24 !important;
}

.active {
    color: #ED1C24 !important;
}

.active a {
    color: #ED1C24 !important;

}

.img-car-active {
    transition: ease 0.5s;
    border: 2px solid #ED1C24 !important;
}

.m-23 {
    margin: 10px 80px;
}

.border {
    border-color: #E9E9E9 !important;
}

.border-bottom {
    border-color: #E9E9E9 !important;
}

.border-top {
    border-color: #E9E9E9 !important;
}

.border-end {
    border-color: #E9E9E9 !important;
}

.border-start {
    border-color: #E9E9E9 !important;
}

textarea {
    border-color: #E9E9E9 !important;
}

input {
    border-color: #E9E9E9 !important;
}

.bg-danger-e {
    background: #ED1C24;
}

.btn-danger-e {
    color: #fff;
    background-color: #ED1C24;
    border-color: #ED1C24;
}

.btn-danger-e:hover {
    color: #FFFFFF;
}



.bg-unfollow {
    background: #ECECEC !important;
}

.rounded-chat {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.rounded-chat-rtl {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.mw-70 {
    max-width: 75%;
}

.bottom-n-3 {
    bottom: -20px;
}


.chat {
    max-height: 380px;
    overflow: auto;
}

.single-user-chat {
    height: calc(100vh - 100px)
}

.bg-unfollow-Receipt {
    background: #ECECEC;
}

.filter {
    filter: opacity(65%);
}
.font-12{
    font-size: 11px;
}
.badge{
    padding: .25em .40em !important;
    font-weight:400 !important;
}
.dark-theme{
    background-color: #000000 !important ;
    color: #F0F0F0 !important;
}
.dark-theme .border{
    border-color: rgba(75,75,75,0.25);
}
.dark-theme .bg-light{
    background:rgba(75,75,75,0.25)  !important;
}
.dark-theme .navbar-light , .dark-theme .border-bottom{
    border-color: #212121 !important;
}
.dark-theme .navbar-brand{
    color: #F0F0F0 !important;
}
.dark-theme .bg-white , .dark-theme .when-hover , .dark-theme .active{
    background: #2E2E2E !important;
}
.dark-theme .text-dark{
    color: #F0F0F0 !important;
}
.dark-theme .border-white, .dark-theme .border-top , .dark-theme .border-2{
    border-color: #2E2E2E !important;
}
.dark-theme textarea , .dark-theme .dropdown-menu , .dark-theme .form-control{
    background: #212121 !important;
    border-color: #7E7E7E !important;
    color: #F0F0F0 !important;
}
.dark-theme .text-muted{
    color: #6c757d !important;
}
.dark-theme .dropdown-item , .dark-theme a , .dark-theme footer{
    color: #F0F0F0 !important;
}
.dark-theme .dropdown-item:hover , .dark-theme .bg-unfollow-Receipt , .dark-theme .bg-unfollow-Send{
    background-color: #262626 !important;
}
.dark-theme .drop-notification li:hover{
    background-color: #262626 !important;
}
.text-danger-e {
    color: #ED1C24 !important;
}

.border-danger-e {
    border-color: #ED1C24 !important;
}
.dark-theme .text-danger-e {
    color: #ED1C24 !important;
}

.dark-theme .border-danger-e {
    border-color: #ED1C24 !important;
}
